[Desktop Entry]
Name=Risk of Rain
Exec=Risk_of_Rain
Icon=icon
Type=Application
Categories=Game;
Comment=An action platformer/adventure game with randomized elements
